# Tavily API key for the search tools

TAVILY_API_KEY=xxx

# Gemini is used in all our examples
GEMINI_API_KEY=xxx

# DB URL to the persistence database. Do not set this variable if you're using the inbuilt pg-lite db in development 
# DATABASE_URL=xxx

#Logging for pg-lite
# DB_LOG=verbose

#For cascaide engine devlogs
NODE_ENV="development"